/* Landing Page */
.bg1{
    display: block;
    background-color: #121f3d;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
  }
  .page{
     display: block;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    
  }
   .page h1{
      padding-top: 150px;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  color: #ffff;
  }
   .page h1 span{
    color: #dc143c;
  }
  .page .About{
    font-size: 30px;
    margin-top: 100px;
    color: #ffff;
    display: flex;
   flex-direction: row;
  }
  .page .About p h2{
    font-weight: 500;
  }
  .page .About p{
    margin-top: 100px;
      margin-right: 80px;
      margin-left: 150px;
      font-weight: 300;
     
  }
  .page .About img{
    background:  transparent;
    width:450px;
    margin-left: 100px;
    margin-top: 50px;
  }
  .page .button{
    margin-top: 50px;
   justify-content: center;
   align-items: center;
   display: flex;
   
  }
  .page .button button{
    padding: 15px 70px;
    border-radius: 40px;
    font-size: 25px;
  }
  